.col{
    background-image: url(bg.jpg);
    background-size: cover;
}

.panel{
    width: 100%;
    padding: 10pt;
    border-radius: 20%;
}

.panel:hover{
    padding: 0px;
}

#folyamatok{
    background-image: url(bg.jpg);
    background-size: cover;
    border-radius: 20%;
}