body{
    background-color: #9FFAFF;
}

#asd{
    text-transform: uppercase;
  
    
}


#felGomb {

    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px; 
    
  
    }
#pop{

border: solid whitesmoke;
padding: 10px;
margin: 10px;

}
section{
min-height: 100vh;
width: 100%;
padding: 10px;
margin:20px ;



}

.right{

width: 50%;
min-height: 400px;
background-color: teal;
display: flex;
align-items: center;
justify-content:center ;
padding: 30px;
border-radius: 8px;
color: white;
}
.right2{
    margin-top: 20px;
    width: 50%;
    min-height: 400px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content:center ;
    padding: 30px;
    border-radius: 8px;
    color: white;
    }

.right h1 {

font-size: 40px;
font-weight: lighter;

}

.right2 h1 {

font-size: 40px;
font-weight: lighter;

}

.right p {

margin: 20px 0;
font-weight: 100;
line-height: 25px;

}
.right2 p {

    margin: 20px 0;
    font-weight: 100;
    line-height: 25px;
    
    }