@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat', sans-serif;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left{
  width: 50%;
  height: 600px;
  background: url(asd.PNG) no-repeat center / cover ;
  border-radius: 10px;

}
.right{
width: 50%;
min-height: 400px;
background-color: gray;
display: flex;
align-items: center;
justify-content: center;
padding: 30px;
border-radius: 8px;
color: white;
margin-left: -100px;

}



.right h1{

  font-size: 40px;
  font-weight: lighter;

}

.right p{
    margin: 20px 0 ;
    font-weight: 500;
    line-height: 25px;
}


.right a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
}